<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buku | Sipinjam</title>

	<!-- Material CDN -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<div class="container">
		<!--  ASIDE  -->
		<aside>
			<div class="top">
				<div class="logo">
					<img src="/assets/img/logo.png">
					<h2>SI<span class="danger">PINJAM</span></h2>
				</div>
				<div class="close" id="close-btn">
					<span class="material-icons-sharp">close</span>
				</div>
			</div>

			<div class="sidebar">
				<a href="/dashboard">
					<span class="material-icons-sharp">grid_view</span>
					<h3>Dashboard</h3>
				</a>
				<a href="/peminjaman">
					<span class="material-icons-sharp">receipt_long</span>
					<h3>Peminjaman</h3>
				</a>
				<a href="/pengembalian">
					<span class="material-icons-sharp">receipt</span>
					<h3>Pengembalian</h3>
				</a>
				<a href="/buku"  class="active">
					<span class="material-icons-sharp">library_books</span>
					<h3>Buku</h3>
				</a>
				<a href="/anggota">
					<span class="material-icons-sharp">groups</span>
					<h3>Anggota</h3>
				</a>
				<a href="/petugas">
					<span class="material-icons-sharp">person_outline</span>
					<h3>Petugas</h3>
				</a>
				<a href="/login/logout">
					<span class="material-icons-sharp">logout</span>
					<h3>Logout</h3>
				</a>
			</div>
		</aside>
		<!--  END OF ASIDE  -->

		<!--  MAIN CONTENT  -->
		<main>
			<h1>Buku</h1>
			
			<div class="card-form">
				<h2>Tambah Buku</h2>
				<div class="form">
					<form action="/buku/save" method="post">
						<div class="form-control">
							<label for="judul">Judul Buku</label>
							<input type="text" name="judul" id="judul" placeholder="Judul buku">
						</div>
						<div class="form-control">
							<label for="id_kategori">Kategori Buku</label>
							<select name="id_kategori" id="id_kategori">
								
							</select>
						</div>
						<div class="form-control">
							<label for="penerbit">Penerbit</label>
							<input type="text" name="penerbit" id="penerbit" placeholder="Penerbit buku">
						</div>
						<div class="form-control">
							<label for="penulis">Penulis</label>
							<input type="text" name="penulis" id="penulis" placeholder="Penulis buku">
						</div>
						<div class="form-control">
							<label for="tahun_terbit">Tahun Terbit</label>
							<input type="number" name="tahun_terbit" id="tahun_terbit" placeholder="Tahun terbit buku">
						</div>
						<div class="form-control">
							<label for="stok">Stok</label>
							<input type="number" name="stok" id="stok" placeholder="Ketersediaan buku">
						</div>
						<div class="submit">
							<button type="submit">Tambah</button>
						</div>
					</form>
				</div>
			</div>

			<div class="recent-orders">
				<h2>Daftar Buku</h2>
				<table id="tabel-buku">
					
				</table>
				<a href="#" onclick="generatePDF()">Download PDF</a>
			</div>
		</main>
		<!--  END OF MAIN  -->

		<div class="right">
			<div class="top">
				<button id="menu-btn">
					<span class="material-icons-sharp">menu</span>
				</button>
				<div class="theme-toggler">
					<span class="material-icons-sharp active">light_mode</span>
					<span class="material-icons-sharp">dark_mode</span>
				</div>
				<div class="profile">
					<div class="info">
						<p>Hey, <b id="nama-petugas"></b></p>
						<small class="text-muted">Petugas</small>
					</div>
					<div class="profile-photo">
						<img src="/assets/img/profile-1.png">
					</div>
				</div>
			</div>
			<!-- END OF TOP -->

			<div class="sales-analytics" id="kategori-buku">
				<h2>Kategori Buku</h2>
				<div class="item add-kategori">
					<div>
						<span class="material-icons-sharp">add</span>
						<h3>Add Kategori</h3>
					</div>
				</div>
			</div>

			<div class="recent-updates">
				<h2>Chart Kategori Buku</h2>
				<div class="updates">
					<canvas id="chartKategori"></canvas>
				</div>
			</div>
			<!-- END OF CHART KATEGORI -->
		</div>
	</div>

	{{!-- Modal Edit --}}
	<div class="modal-container" id="editModal">
		<div class="modal">
			<h2>Ubah Data Anggota</h2>
			<div class="form">
				<form action="/buku/update" method="post">
					<input type="hidden" class="id" name="id_buku">
					<div class="form-control">
						<label for="judul">Judul Buku</label>
						<input type="text" name="judul" class="judul">
					</div>
					<input type="hidden" name="id_kategori_before" id="id_kategori_before">
					<div class="form-control">
						<label for="id_kategori">Kategori Buku</label>
						<select name="id_kategori_after" class="id_kategori_after">
							
						</select>
					</div>
					<div class="form-control">
						<label for="penerbit">Penerbit</label>
						<input type="text" name="penerbit" class="penerbit">
					</div>
					<div class="form-control">
						<label for="penulis">Penulis</label>
						<input type="text" name="penulis" class="penulis">
					</div>
					<div class="form-control">
						<label for="tahun_terbit">Tahun Terbit</label>
						<input type="number" name="tahun_terbit" class="tahun_terbit">
					</div>
					<div class="form-control">
						<label for="stok">Stok</label>
						<input type="number" name="stok" class="stok">
					</div>
					<div class="submit">
						<button type="submit">Ubah</button>
						<a type="button" id="closeEditModal">Batal</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- End Modal Edit --}}

	{{!-- Modal Hapus --}}
	<div class="modal-container" id="hapusModal">
		<div class="modal">
			<h2>Hapus Data Buku</h2>
			<div class="form">
				<form action="/buku/delete" method="post">
					<input type="hidden" class="id_buku" name="id_buku">
					<p>Anda yakin mau menghapus data ini?</p>
					<div class="submit">
						<button type="submit">Ya!</button>
						<a type="button" id="closeHapusModal">Batal</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- End Modal Hapus --}}

	{{!-- Modal Add Kategori --}}
	<div class="modal-container" id="addKategoriModal">
		<div class="modal">
			<h2>Tambah Kategori Buku</h2>
			<div class="form">
				<form action="/kategori/save" method="post">
					<div class="form-control">
						<label for="kategori">Kategori Buku</label>
						<input type="text" name="kategori" class="kategori">
					</div>
					<div class="submit">
						<button type="submit">Tambah</button>
						<a type="button" id="closeAddKategoriModal">Batal</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- End Add Kategori Modal --}}

	{{!-- Modal Hapus Kategori --}}
	<div class="modal-container" id="hapusKategoriModal">
		<div class="modal">
			<h2>Hapus Kategori</h2>
			<div class="form">
				<form action="/kategori/delete" method="post">
					<input type="hidden" class="id_kategori" name="id_kategori">
					<p>Anda yakin mau menghapus data ini?</p>
					<div class="submit">
						<button type="submit">Ya!</button>
						<a type="button" id="closeHapusKategoriModal">Batal</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- End Modal Hapus Kategori --}}
    
	{{!-- JQuery --}}
	<script src="/assets/js/jquery-3.3.1.js"></script>

	{{!-- Chart JS --}}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

	{{!-- pdf --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

	{{!-- My Script --}}
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/functions.js"></script>

	{{!-- Page Script --}}
	<script src="/assets/js/buku.js"></script>
</body>
</html>