<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Homepage | Sipinjam</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/home.css" />
		<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>SIPINJAM |</strong> Sistem manajemen peminjaman buku perpustakaan</a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Selamat Datang<br />
											di Sipinjam</h1>
											<p>Sistem manajemen peminjaman buku perpustakaan</p>
										</header>
										<p>Sipinjam dirancang untuk memudahkan berbagai proses pelayanan yang ada pada perpustakaan. Sistem ini dapat melakukan pendataan terhadap data buku, peminjaman, pengembalian, anggota, dan data petugas. Data buku akan berisi data seluruh buku yang terdapat pada suatu perpustakaan. Semua buku yang masuk, dipinjam, dan telah dikembalikan dari peminjaman dapat dikelola pada Sipinjam.</p>>
									</div>
									<span class="image object">
										<img src="/assets/img/hero.jpg" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Layanan Perpustakaan</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon solid fa-receipt"></span>
											<div class="content">
												<h3>Peminjaman buku</h3>
												<p>Peminjaman buku merupakan layanan yang memberikan pengunjung perpustakaan agar dapat memanfaatkan koleksi perpustakaan secara optimal dari segi waktu kunjungan maupun waktu membaca.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-clipboard-list"></span>
											<div class="content">
												<h3>Pengembalian buku</h3>
												<p>Pengembalian buku merupakan layanan yang mencegah terjadinya pelanggaran yang terjadi pada transaksi peminjaman bahan pustaka.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-book"></span>
											<div class="content">
												<h3>Daftar buku</h3>
												<p>Daftar buku dibuat agar buku tertata dengan rapi sehingga memudahkan pengunjung untuk mencari buku yang diinginkan.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-users"></span>
											<div class="content">
												<h3>Keanggotaan perpustakaan</h3>
												<p>Anggota perpustakaan adalah pengunjung yang telah mendaftarkan diri di anggota perpustakaan. Anggota ini memudahkan petugas perpustakaan dalam mencatatat data peminjam.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Info lebih lanjut</h2>
									</header>
									<p>Untuk info lebih lanjut bisa menghubungi email dan nomor admin dibawah ini. Terima kasih</p>
									<div class="row gtr-50">
										<ul class="contact col-4 col-12-medium">
											<li class="icon solid fa-envelope"><a href="#">sipinjam@gmail.com</a></li>
										</ul>
										<ul class="contact col-4 col-12-medium">
											<li class="icon solid fa-phone">(031) 331754348</li>
										</ul>
										<ul class="contact col-4 col-12-medium">
											<li class="icon solid fa-home">Jl.Basuki Rahmat No 100,<br />
												Surabaya, Jawa Timur</li>
										</ul>											
									</div>									
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Sipinjam 2022. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
									</ul>
									<ul>
										<li><a href="/login">Login Petugas</a></li>
									</ul>
								</nav>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery-3.3.1.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/home.js"></script>

	</body>
</html>