<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pengembalian | Sipinjam</title>

	<!-- Material CDN -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<div class="container">
		<!--  ASIDE  -->
		<aside>
			<div class="top">
				<div class="logo">
					<img src="/assets/img/logo.png">
					<h2>SI<span class="danger">PINJAM</span></h2>
				</div>
				<div class="close" id="close-btn">
					<span class="material-icons-sharp">close</span>
				</div>
			</div>

			<div class="sidebar">
				<a href="/dashboard">
					<span class="material-icons-sharp">grid_view</span>
					<h3>Dashboard</h3>
				</a>
				<a href="/peminjaman">
					<span class="material-icons-sharp">receipt_long</span>
					<h3>Peminjaman</h3>
				</a>
				<a href="/pengembalian" class="active">
					<span class="material-icons-sharp">receipt</span>
					<h3>Pengembalian</h3>
				</a>
				<a href="/buku">
					<span class="material-icons-sharp">library_books</span>
					<h3>Buku</h3>
				</a>
				<a href="/anggota">
					<span class="material-icons-sharp">groups</span>
					<h3>Anggota</h3>
				</a>
				<a href="/petugas">
					<span class="material-icons-sharp">person_outline</span>
					<h3>Petugas</h3>
				</a>
				<a href="/login/logout">
					<span class="material-icons-sharp">logout</span>
					<h3>Logout</h3>
				</a>
			</div>
		</aside>
		<!--  END OF ASIDE  -->

		<!--  MAIN CONTENT  -->
		<main>
			<h1>Pengembalian</h1>
			
			<div class="card-form">
				<h2>Tambah Pengembalian</h2>
				<div class="form">
					<form action="/pengembalian/save" method="post">
						<div class="form-control">
							<label for="tgl_kembali">Tanggal Pengembalian</label>
							<input type="date" id="tgl_kembali_display" disabled>
							<input type="hidden" name="tgl_kembali" id="tgl_kembali">
						</div>
						<div class="form-control">
							<label for="no_peminjaman">Nomor Peminjaman</label>
							<select name="no_peminjaman" id="no_peminjaman">
								
							</select>
						</div>
						<input type="hidden" name="id_peminjaman" id="id_peminjaman">
						<div class="form-control">
							<label for="judul_buku">Buku</label>
							<input type="text" name="judul_buku" id="judul_buku" disabled>
							<input type="hidden" name="id_buku" id="id_buku">
						</div>
						<div class="form-control">
							<label for="nama_anggota">Nama Peminjam</label>
							<input type="text" name="nama_anggota" id="nama_anggota" disabled>
							<input type="hidden" name="id_anggota" id="id_anggota">
						</div>
						<div class="form-control">
							<label for="denda">Denda</label>
							<input type="number" name="denda" id="denda">
						</div>
						<input type="hidden" name="id_petugas" id="id_petugas">
						<div class="submit">
							<button type="submit">Tambah</button>
						</div>
					</form>
				</div>
			</div>

			<div class="recent-orders">
				<h2>Chart Pengembalian</h2>
				<canvas id="pengembalianChart"></canvas>
				<a href=""></a>
			</div>
			
		</main>
		<!--  END OF MAIN  -->

		<div class="right">
			<div class="top">
				<button id="menu-btn">
					<span class="material-icons-sharp">menu</span>
				</button>
				<div class="theme-toggler">
					<span class="material-icons-sharp active">light_mode</span>
					<span class="material-icons-sharp">dark_mode</span>
				</div>
				<div class="profile">
					<div class="info">
						<p>Hey, <b id="nama-petugas"></b></p>
						<small class="text-muted">Petugas</small>
					</div>
					<div class="profile-photo">
						<img src="/assets/img/profile-1.png">
					</div>
				</div>
			</div>
			<!-- END OF TOP -->

		</div>
	</div>
    
	<script src="/assets/js/jquery-3.3.1.js"></script>

	{{!-- Chart JS --}}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

	{{!-- My Script --}}
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/functions.js"></script>

	{{!-- Page Script --}}
	<script src="/assets/js/pengembalian.js"></script>
</body>
</html>